@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


.attribution { font-size: 14px; font-family:'Outfit', sans-serif; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

h1 {
  font-size: 25px;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  color: hsl(218, 44%, 22%);
}

p {
    font-size : 20px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

img {
  width: 300px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

body {
  width: 340px;
  display: flex;
  flex-direction: column;
  items-align: center;
  justify-content: center;
  height: calc(100vh - 1px);
  border-radius: 18px;
  background: white;
  border: 1px solid white;
}

html {
  width: 1440px;
  background-color: hsl(212, 45%, 89%);
}
